In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../data_mturk/next/ranking_mturk_1.csv')
df2 = pd.read_csv('../data_mturk/next/ranking_mturk_2.csv')
df3 = pd.read_csv('../data_mturk/next/ranking_mturk_3.csv')

In [3]:
df1 = df1.iloc[2:, :] # filter metadata rows
df2 = df2.iloc[2:, :] 
df3 = df3.iloc[2:, :]

In [4]:
df = pd.concat([df1, df2, df3])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 305 entries, 2 to 63
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   StartDate              305 non-null    object
 1   EndDate                305 non-null    object
 2   Status                 305 non-null    object
 3   IPAddress              305 non-null    object
 4   Progress               305 non-null    object
 5   Duration (in seconds)  305 non-null    object
 6   Finished               305 non-null    object
 7   RecordedDate           305 non-null    object
 8   ResponseId             305 non-null    object
 9   RecipientLastName      0 non-null      object
 10  RecipientFirstName     0 non-null      object
 11  RecipientEmail         0 non-null      object
 12  ExternalReference      0 non-null      object
 13  LocationLatitude       305 non-null    object
 14  LocationLongitude      305 non-null    object
 15  DistributionChannel    305 non-null    object
 16  UserLanguage           305 non-null    object
 17  Q1                     304 non-null    object
 18  Q2                     304 non-null    object
 19  Q3_1                   304 non-null    object
 20  Q4                     304 non-null    object
 21  Q5                     304 non-null    object
 22  Q6_1                   300 non-null    object
 23  Q7                     304 non-null    object
 24  Q7_8_TEXT              7 non-null      object
 25  random                 305 non-null    object
dtypes: object(26)
memory usage: 64.3+ KB

In [6]:
df.rename(columns={
    'Q2': 'sex',
    'Q3_1': 'age',
    'Q4': 'ethnicity',
    'Q5': 'formal education',
    'Q6_1': 'income',
    'Q7': 'language'}, inplace=True)

In [7]:
age = df['age'].dropna().astype('int32')

age.mean(), age.std()

(39.63815789473684, 11.274873107585226)

In [8]:
sex = df['sex'].dropna()

sex.value_counts()

Male                         168
Female                       111
Non-binary / third gender     25
Name: sex, dtype: int64

In [9]:
et = df['ethnicity'].dropna()

et.value_counts()

White or Caucasian                     228
Hispanic or Latino                      37
Black or African American               16
Asian                                   13
Multiple ethnicities                     7
Prefer not to say                        1
American Indian or Alaska Native         1
Native Hawaiian or Pacific Islander      1
Name: ethnicity, dtype: int64