In [1]:
import pandas as pd

In [9]:
df1 = pd.read_csv('../data/next/ranking_uw_1.csv')
df2 = pd.read_csv('../data/next/ranking_uw_2.csv')
df3 = pd.read_csv('../data/next/ranking_uw_3.csv')

In [10]:
df1 = df1.iloc[2:, :] # filter metadata rows
df2 = df2.iloc[2:, :] 
df3 = df3.iloc[2:, :]

In [12]:
df = pd.concat([df1, df2, df3])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196 entries, 2 to 90
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   StartDate              196 non-null    object
 1   EndDate                196 non-null    object
 2   Status                 196 non-null    object
 3   IPAddress              193 non-null    object
 4   Progress               196 non-null    object
 5   Duration (in seconds)  196 non-null    object
 6   Finished               196 non-null    object
 7   RecordedDate           196 non-null    object
 8   ResponseId             196 non-null    object
 9   RecipientLastName      0 non-null      object
 10  RecipientFirstName     0 non-null      object
 11  RecipientEmail         0 non-null      object
 12  ExternalReference      0 non-null      object
 13  LocationLatitude       196 non-null    object
 14  LocationLongitude      196 non-null    object
 15  DistributionChannel    196 non-null    object
 16  UserLanguage           196 non-null    object
 17  Q1                     196 non-null    object
 18  Q2                     194 non-null    object
 19  Q3_1                   161 non-null    object
 20  Q4                     194 non-null    object
 21  Q5                     194 non-null    object
 22  Q6_1                   183 non-null    object
 23  Q7                     194 non-null    object
 24  Q7_8_TEXT              10 non-null     object
dtypes: object(25)
memory usage: 39.8+ KB

In [19]:
df.rename(columns={
    'Q2': 'sex',
    'Q3_1': 'age',
    'Q4': 'ethnicity',
    'Q5': 'formal education',
    'Q6_1': 'income',
    'Q7': 'language'}, inplace=True)

In [21]:
age = df['age'].dropna().astype('int32')

age.mean(), age.std()

(20.248447204968944, 4.387526432827237)

In [22]:
sex = df['sex'].dropna()

sex.value_counts()

Female                       108
Male                          68
Non-binary / third gender     18
Name: sex, dtype: int64

In [23]:
et = df['ethnicity'].dropna()

et.value_counts()

White or Caucasian                     121
Hispanic or Latino                      29
Asian                                   28
Multiple ethnicities                    11
Black or African American                2
Other                                    2
Native Hawaiian or Pacific Islander      1
Name: ethnicity, dtype: int64