In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('../clean_data_mturk_espanol/free_choice_emotion_mturk_espanol.csv')
df2 = pd.read_csv('../clean_data_mturk_espanol/forced_choice_emotion_mturk_espanol.csv')

In [5]:
# drop participants that took more than 3 hours

df1 = df1[df1['Duration (in seconds)']<10800]
df2 = df2[df2['Duration (in seconds)']<10800]

dur1 = df1['Duration (in seconds)'].dropna().astype('int32')
dur2 = df2['Duration (in seconds)'].dropna().astype('int32')
duration = pd.concat([dur1, dur2])

print(f"free-response: mean {dur1.mean()}, std {dur1.std()}")
print(f"force-response: mean {dur2.mean()}, std {dur2.std()}")
print(f"Overall: mean {duration.mean()}, std {duration.std()}")

free-response: mean 3498.125, std 2090.185124537707
force-response: mean 2118.96875, std 1621.412933899857
Overall: mean 2808.546875, std 1981.528261654653

In [4]:
age1 = df1['age'].dropna().astype('int32')
age2 = df2['age'].dropna().astype('int32')
age = pd.concat([age1, age2])

age.mean(), age.std()

(37.815384615384616, 8.255476038084334)

In [5]:
sex1 = df1['sex'].dropna()
sex2 = df2['sex'].dropna()
sex = pd.concat([sex1, sex2])

sex.value_counts()

Masculino    41
Femenino     24
Name: sex, dtype: int64

In [6]:
et1 = df1['ethnicity'].dropna()
et2 = df2['ethnicity'].dropna()
et = pd.concat([et1, et2])

et.value_counts()

Hispana o Latina         26
Hispano o Latino         25
Blanca o caucásica        7
Blanco o caucásico        6
Multiples etnicidades     1
Name: ethnicity, dtype: int64

In [7]:
ct1 = df1['country'].dropna()
ct2 = df2['country'].dropna()
ct = pd.concat([ct1, ct2])

ct.value_counts()[1]

Mexico                  16
Venezuela               10
Colombia                 6
Mexicana                 5
Argentina                3
Honduras                 2
México                   2
venezuela                2
ecuador                  1
Republica Dominicana     1
COLOMBIANO               1
colombia                 1
Guatemala                1
Venezolano               1
Cuba                     1
Colombiano               1
Mexicano                 1
Italia                   1
Ecuador                  1
Chile                    1
Uruguay                  1
VENEZUELA                1
Ecuatoriano              1
COLOMBIA                 1
El Salvador              1
Name: country, dtype: int64

In [14]:
len(age1), len(age2)

(33, 32)

In [ ]:
### differences in minutes

In [6]:
3498/60, 2118/60

(58.3, 35.3)

In [7]:
3052/60, 1991/60

(50.86666666666667, 33.18333333333333)